body {
    background: black;
    font-size: 22px;
    line-height: 32px;
    color: white;
    margin: 0;
    padding: 0;
}

.dropdown,
[id^=drop] {
    display: none;
}

nav {
    background-color: #8f1767;
    padding: 0;
    margin: 0;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    margin: 0px;
    display: inline-block;
    background-color: #8f1767;
}

nav a {
    display: block;
    padding: 14px 20px;
    color: white;
    font-size: 17px;
    text-decoration: none;
}

nav ul li ul li:hover {
    background-color: black;
}

nav a:hover {
    background-color: black;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}

@media all and (max-width: 768px) {
    body {
        background: rgb(69, 95, 167);
        font-size: 22px;
        line-height: 32px;
        color: white;
        margin: 0;
        padding: 0;
    }
    .dropdown,
    [id^=drop] {
        display: block;
        float: left;
    }
    .checkbox {
        display: none;
    }
    nav {
        background-color: #91002b;
        padding: 0;
        margin: 0;
    }
    nav ul li {
        margin: 0px;
        display: inline-block;
        background-color: #91002b;
        display: none;
    }
}