* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #065C41;
    --secondaryColor: #17CC97;
    --lightColor: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lightColor);
}

.container {
    height: 700px;
    margin: auto;
    width: 96%;
}

.header {
    height: 80px;
    background-color: black;
}

.logo {
    display: flex;
    float: left;
    font-size: 2em;
    margin: 20px;
}

.menu li {
    list-style-type: none;
    float: right;
}

.menu li a {
    display: block;
    color: var(--lightColor);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 2rem;
}

.menu li a:hover {
    color: var(--primaryColor);
}

.container-title {
    text-align: center;
    margin: 10rem auto 5rem auto;
    font-size: 3rem;
    padding: 2px;
}

.request-btn {
    font-size: 2rem;
    margin-left: 43%;
    margin-bottom: 5rem;
    border-radius: 3px;
    padding: 10px;
    background-color: #17CC97;
    border: 0;
}

.title {
    text-transform: uppercase;
    margin: 0px 5rem;
}

.sub-heading {
    margin: 2rem 5rem;
    font-size: 3rem;
    color: var(--primaryColor);
}

.content {
    display: flex;
    margin: 2rem 5rem;
}

.text {
    font-size: 18px;
    margin: 2rem auto;
}

.cont-img {
    margin-top: 2rem;
}

.fiber-img {
    margin-left: 30px;
}

.f-text {
    margin-left: 20%;
}

.innovation {
    background-color: black;
    color: var(--lightColor);
    margin: 3rem auto;
}

.key-content {
    background-color: black;
    display: inline;
}

.p-text {
    margin-top: 2rem;
    padding: 30px;
    font-size: 20px;
}

.scr-img {
    height: 500px;
    width: 600px;
    margin: 2rem;
}

.slides {
    display: none;
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow {
    height: 700px;
    width: 60%;
    background-image: url(./img/Platform\ screens\ bg.png);
    margin: 50px auto;
    position: relative;
    margin: auto;
    text-align: center;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: -50px;
    border-radius: 3px 0px 0px 3px;
}

.next {
    right: -50px;
    border-radius: 0px 3px 3px 0px;
}

.prev:hover,
.next:hover {
    background-color: var(--secondaryColor)
}